.container {
    width: 1280px;
    margin: 0 auto;
}

.logo-item {
    text-decoration: none;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.accent-color {
    color: #4BCAFF;
}

.navigation-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*.navigation-item {
    width: 100%;
    display: block;
    box-sizing: border-box;
}*/

.navigation-text {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: #35444F;
    border-right: 1px solid #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    padding-top: 40px;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin: 0 0;
}

.menu-item {
    padding-bottom: 40px;
}

.menu-text {
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}

.main {
    width: 885px;
}


.photo {
    width: 885px;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000; 
}

.nav-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.nav-end-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-end-item {
    justify-content: center;
    background: rgba(99, 105, 110, 0.48);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.nav-end-text {
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.nav-end-text-copyright {
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

.navigation-text:hover {
    background: #222F3A;
}

.menu-text:hover {
    color: #000000;
    background: #DBDBDB;
    padding-left: 39px;
}

.nav-end-text:hover {
    text-decoration: underline;
    color: #3181A6;

}

.image:hover {
    width: 400px;
    height: 450px;
    transition: 2s;
} 